@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 38s linear infinite;
}
@keyframes windStream {
  from {
    transform: translateX(-20%) skewY(-3deg);
  }
  to {
    transform: translateX(35%) skewY(3deg);
  }
}
.wind-stream {
  animation: windStream 5s linear infinite;
  box-shadow: 0 0 5px rgba(0, 96, 169, 0.75);
}
.wind-stream-delay {
  animation: windStream 7s linear infinite reverse;
  box-shadow: 0 0 5px rgba(180, 155, 88, 0.65);
}
